* {
 padding: 0px;
 margin: 0px;
}
body {
 background-color: #f7f7f7;
 font-size: 14px;
 font-family: 'Montserrat', sans-serif;;
 padding: 0px;
 margin: 0px;
}
body::-webkit-scrollbar {
 width: 8px;
 height: 5px;
 background-color: #bbb; /* or add it to the track */
}
body::-webkit-scrollbar-thumb {
 background: #777;
}
#footer_logo {
	position:fixed;
	bottom:15px;
	right:20px;
}
